.Main_Contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .Main_Contacts_list {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    .Main_Contacts_item_header {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      .Main_Contacts_header {
        font-family: "Source Sans 3";
        font-style: normal;
        color: aliceblue;
        font-size: 80px;
        line-height: 1;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
    .Main_Contacts_item {
      width: 60%;
      display: flex;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.021);
      backdrop-filter: blur(8px);
      box-shadow: 0 10px 12px rgba(255, 255, 255, 0.1);
      padding: 30px;
      .Main_Contacts_Info_list {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .Main_Contacts_Info_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          gap: 20px;
          h1 {
            max-width: 500px;
            font-family: "Source Sans 3";
            font-style: normal;
            color: aliceblue;
            font-size: 35px;
            line-height: 1;
            font-weight: bold;
            text-align: center;
          }
          span {
            font-family: "Source Sans 3";
            font-style: normal;
            color: aliceblue;
            font-size: 20px;
            line-height: 1;
            font-weight: bold;
          }
          .Contact_Link_list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin-top: 20px;
            .Contact_link_item {
              display: flex;
              width: 50px;
              height: 50px;
              justify-content: center;
              align-items: center;
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px rgb(255, 255, 255) solid;
                background-color: white;
                cursor: pointer;
                transition: all 0.2s ease;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  &:hover {
                    animation: links_rotate 0.5s ease-out forwards;
                  }
                }
                &:hover {
                  transform: scale(0.85);
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes links_rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .Main_Contacts_item {
    width: 80% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .Main_Contacts_item {
    width: 80% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Main_Contacts_list {
    width: 90% !important;
  }
  .Main_Contacts_item {
    width: 90% !important;
    h1 {
      font-size: 35px !important;
    }
  }
}

@media (min-width: 430px) and (max-width: 768px) {
  .Animation_Wrapper{
  font-size: 65px !important;
}
  .Main_Contacts_list {
    width: 75% !important;
  }
  .Main_Contacts_item {
    width: 90% !important;
    padding: 20px !important;
    h1 {
      font-size: 25px !important;
      width: 80% !important;
    }
  }
  .Contact_form {
    width: 90% !important;
  }
}


@media (min-width: 360px) and (max-width: 430px) {
.Animation_Wrapper{
  font-size: 55px !important;
}

  .Main_Contacts_list {
    width: 90% !important;
  }
  .Main_Contacts_item {
    width: 90% !important;
    padding: 10px !important;
    h1 {
      font-size: 25px !important;
    }
  }
  .Contact_form {
    width: 90% !important;
  }
}