.Main_Contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .Main_Contacts_list {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    .Main_Contacts_item_header {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      .Main_Contacts_header {
        font-family: "Source Sans 3";
        font-style: normal;
        color: aliceblue;
        font-size: 80px;
        line-height: 1;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 30px;
        transform: translateY(50px);
        animation: fadeIn 2s ease-out forwards;
      }
    }
    .Main_Contacts_item {
      width: 60%;
      display: flex;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.021);
      backdrop-filter: blur(8px);
      box-shadow: 0 10px 12px rgba(255, 255, 255, 0.1);
      padding: 30px;
      .Main_Contacts_Info_list {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .Main_Contacts_Info_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          gap: 20px;
          h1 {
            max-width: 500px;
            font-family: "Source Sans 3";
            font-style: normal;
            color: aliceblue;
            font-size: 35px;
            line-height: 1;
            font-weight: bold;
            text-align: center;
          }
          span {
            font-family: "Source Sans 3";
            font-style: normal;
            color: aliceblue;
            font-size: 20px;
            line-height: 1;
            font-weight: bold;
          }
          .Contact_Link_list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin-top: 20px;
            .Contact_link_item {
              display: flex;
              width: 50px;
              height: 50px;
              justify-content: center;
              align-items: center;
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px rgb(255, 255, 255) solid;
                background-color: white;
                cursor: pointer;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  transition: all 0.2s ease;
                  &:hover {
                    transform: scale(0.85);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
