.Main_Skills {
  width: 100%;
  position: sticky;
  background: url("@assets/imag/skills_bg_bw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  opacity: 0;
  -webkit-transform: translateY(450px);
          transform: translateY(450px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Main_Skills .Main_Skills_list {
  width: 50%;
  height: 100%;
  margin-top: 50px;
  border-radius: 16px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.021);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Main_Skills .Main_Skills_list .Main_Skills_Header {
  font-family: "Source Sans 3";
  font-style: normal;
  color: aliceblue;
  font-size: 80px;
  line-height: 1;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
.Main_Skills .Main_Skills_list .Main_skills_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.Main_Skills .Main_Skills_list .Main_skills_item .Skills_name {
  font-family: "Source Sans 3";
  font-style: normal;
  color: aliceblue;
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  width: 200px;
  text-align: end;
  margin-right: 20px;
}
.Main_Skills .Main_Skills_list .Main_skills_item .progress-bar {
  width: 60%;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 20px;
  background-color: transparent;
  overflow: hidden;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.Main_Skills .Main_Skills_list .Main_skills_item .progress-bar .progress {
  height: 100%;
  background-color: #00ff00;
  border-radius: 5px;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  position: relative;
}
.Main_Skills .Main_Skills_list .Main_skills_item .progress-bar .Skills_percentage {
  width: 50px;
  font-family: "Source Sans 3";
  font-style: normal;
  color: aliceblue;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  text-align: start;
  margin-left: 15px;
}

.sticky {
  -webkit-animation: slideIn 0.9s ease forwards;
          animation: slideIn 0.9s ease forwards;
}

.animation {
  -webkit-animation: appearance 2s ease-in;
          animation: appearance 2s ease-in;
}

.animation_header {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-animation: fadeIn 2s ease-out forwards;
          animation: fadeIn 2s ease-out forwards;
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: -50px;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(450px);
            transform: translateY(450px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: -50px;
  }
}
@-webkit-keyframes appearance {
  0% {
    width: 0%;
  }
  100% {
    width: var(--target-width);
  }
}
@keyframes appearance {
  0% {
    width: 0%;
  }
  100% {
    width: var(--target-width);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}