.Main_Portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  .Main_Portfolio_Header {
    font-family: "Source Sans 3";
    font-style: normal;
    color: aliceblue;
    font-size: 80px;
    line-height: 1;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}