.hexagon-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: #141414;
}

.hexagon {
  fill: #141414;
  stroke: none;
}

.glowing-object {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 4, 255, 0.8), rgba(0, 0, 0, 0));
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 255, 0.8);
          box-shadow: 0 0 50px rgba(0, 0, 255, 0.8);
  -webkit-animation: move 15s linear infinite alternate;
          animation: move 15s linear infinite alternate;
  z-index: -2;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
  25% {
    -webkit-transform: translate(0, -250%);
            transform: translate(0, -250%);
  }
  50% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  100% {
    -webkit-transform: translate(-120%, 50%);
            transform: translate(-120%, 50%);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
  25% {
    -webkit-transform: translate(0, -250%);
            transform: translate(0, -250%);
  }
  50% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  100% {
    -webkit-transform: translate(-120%, 50%);
            transform: translate(-120%, 50%);
  }
}