header {
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  background: #141414;
  background: transparent;
  .Header_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .Header_logo_item {
      display: flex;
      .Header_logo_item_back {
        display: flex;
        width: 100px;
        height: 100px;
        background: white;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .Header_Navigation_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .Header_Navigation_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Header_Navigation_list_item {
          margin-right: 56px;
          position: relative;
          a {
            color: black;
            font-family: "Source Sans 3";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.09px;
            color: aliceblue;
          }
          .animation_line {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: aliceblue;
            opacity: 0;
            transition: width 0.5s ease-in, opacity 0.3s ease-in;
          }
          &:hover .animation_line {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
    .Header_Navigation_languages {
      display: flex;
      position: relative;
      .Header_Language_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .ToggleDropdown {
          display: flex;
          align-items: center;
          cursor: pointer;
          img {
            width: 25px;
            height: 15px;
            margin-right: 15px;
          }
          span {
            font-family: "Source Sans 3";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.09px;
            color: aliceblue;
          }
        }
        .Header_Language_item {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          cursor: pointer;
          img {
            width: 25px;
            height: 15px;
            margin-right: 15px;
          }
          span {
            font-family: "Source Sans 3";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.09px;
            color: aliceblue;
          }
        }
      }
    }
  }
}
